//SPECIFY PATHS TO PROGRAMS/DATABASES OUTSIDE OF THE ACTIVATED CONDA ENVIRONMENT

//Unicycler048
params.unicycler048_path = 'path/to/unicycler048/bin/'
params.pilon_uni048_path = 'path/to/pilon.jar'
params.pilon_version_path = 'path/to/pilon'

//Fast_count
params.fast_count_path = 'path/to/fast_count'

//Kleborate
params.kleborate_path = 'path/to/Kleborate/kleborate-runner.py'

//Kmerfinder database
params.kmerfinder_db = '~/Path/kmerfinder_db/bacteria/'





//SWITCH PROGRAMS ON/OFF

//Trim_galore true/false
params.trim = true

//Unicycler true/false
params.unicycler048 = false
params.unicycler050 = false

//Kleborate true/false
params.kleborate = false

//rmlst and kmerfinder
params.rmlst = false
params.kmerfinder = false





//THREADS. 
//Runs with 72 threads if params.fast = true
//Runs with 36 threads if params.fast = false

params.fast = false

if ( params.fast ) {
    params.maxForksTrimming = 2
    params.maxForksAssembly = 8
}
else {
    params.maxForksTrimming = 1
    params.maxForksAssembly = 4
}






//OTHER PARAMETERS

//unicycler depth_filter
params.depth_filter = '0.25'

//Reads
params.reads_type1 = './*L001_R{1,2}_001.fastq.gz'
params.reads_type2 = './*_{1,2}.fastq.gz'

//terminate, ignore or finish
params.failure_action = 'ignore'

//Removes the work directory after run
cleanup = false