//Supposed to remove the work directory after run
//cleanup = true


//Are we always using.gz or should i write fastq*?
params.reads_type1='./*L001_R{1,2}_001.fastq.gz'
params.reads_type2='./*_{1,2}.fastq.gz'

params.threads='20'
//terminate, ignore or finish
params.failure_action='ignore'

params.polypolish_env = '/opt/anaconda/anaconda3/envs/polypolish'
params.polca_env = '/opt/anaconda/anaconda3/envs/polca'


params.depth_filter='0.25'
params.bacteria='path/to/kmerfinder/db'
//true or false
params.trim=true
params.polypolish=true
params.polca=true

//TODO
//params.kleborate=false
//params.assembly=true





process {
    cpus = params.threads
    withName: TRIMMING { cpus = 4 }
    withName: ASSEMBLY { cpus = 8 }
}
