//Unicycler on/off
params.unicycler048 = false
params.unicycler050 = false

//Unicycler048
//d3 unicycler048 path: /opt/anaconda/anaconda3/envs/unicycler048/bin/
params.unicycler048_path = 'path/to/unicycler048/bin/'
//d3 pilon path: /opt/anaconda/anaconda3/envs/unicycler048/share/pilon-1.24-0/pilon.jar
params.pilon_uni048_path = 'path/to/pilon.jar'
//d3 pilon path: /opt/anaconda/anaconda3/envs/unicycler048/share/pilon-1.24-0/pilon or /opt/anaconda/anaconda3/envs/unicycler048/bin/pilon
params.pilon_version_path = 'path/to/pilon'

//unicycler depth_filter
params.depth_filter = '0.25'

//Trimming true/false
params.trim = true

//Kleborate true/false
params.kleborate = false

//Reads
params.reads_type1 = './*L001_R{1,2}_001.fastq.gz'
params.reads_type2 = './*_{1,2}.fastq.gz'

//terminate, ignore or finish
params.failure_action = 'ignore'

//rmlst and kmerfinder
params.rmlst = false
params.kmerfinder = false
params.tax = '~/Path/kmerfinder_db/bacteria/bacteria.tax'
params.ATG = '~/Path/kmerfinder_db/bacteria/bacteria.ATG'

//Removes the work directory after run
cleanup = false


params.fast = false

if ( params.fast ) {
    params.maxForksTrimming = 2
    params.maxForksAssembly = 8
}
else {
    params.maxForksTrimming = 1
    params.maxForksAssembly = 4
}


// params.threads = '20'

// if ( params.fast ) {
//     maxForks = params.threads / 8
//     cpus = params.threads / maxForks
// }

// if ( params.fast ) {
//     params.maxForks = 6
//     params.cpus = 
// }

//UNDER EXECUTOR: queueSize:antall paralleller over hele pipelinen, cpus: global
//UNDER EN SPESIFIKK PROSESS: maxForks: antall paralleller som kan kjøres av den prosessen, kan også specifisere cpus 
// process {
//     if params.fast {
//         withName: ASSEMBLY { }
//     }
//     cpus = params.threads
//     withName: TRIMMING { cpus = 4 }
//     withName: ASSEMBLY { cpus = 8 }
// }